@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Italic.woff2") format("woff2"), url("EBGaramond-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Regular.woff2") format("woff2"), url("EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Regular.woff2") format("woff2"), url("EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KTF Rublena Solid';
  src: url("KTFRublena-Solid.woff2") format("woff2"), url("KTFRublena-Solid.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}

/* buttons */
button {
  padding: 0.5rem;
  font-size: 2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  font-family: 'EB Garamond';
  color: #000;
  border: none;
  border-radius: 1rem;
}

.about__link {
  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  font-family: 'EB Garamond';
  border-radius: 1rem;
  mix-blend-mode: lighten;
}

html, body {
  background: radial-gradient(50% 50% at 50% 50%, #268F56 64.75%, rgba(79, 79, 79, 0.66) 100%) fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'KTF Rublena Solid';
}

body {
  overflow-x: hidden;
}

.index {
  opacity: 0;
  -webkit-transition: -webkit-filter .25s linear;
  transition: -webkit-filter .25s linear;
  transition: filter .25s linear;
  transition: filter .25s linear, -webkit-filter .25s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.index.active {
  opacity: 1;
}

#c {
  position: fixed;
}

.fix {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 0;
  left: 0;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.503261)), color-stop(19%, #ae7eca), color-stop(36%, white), color-stop(71%, #ae7eca), color-stop(100%, #ae7eca), to(#ae7eca));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.503261) 0%, #ae7eca 19%, white 36%, #ae7eca 71%, #ae7eca 100%, #ae7eca 100%);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* global */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  mix-blend-mode: lighten;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
}

.header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  position: fixed;
  display: flex;
  right: 1rem;
  padding-right: 0rem;
}

.header button {
  background-color: #fff;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: fixed;
  left: 1rem;
  text-align: left;
  /* -webkit-transform: translateX(-50%); */
  /* transform: translateX(-50%); */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  color: white;
}

.title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 1.5rem;
}

.title {
  line-height: 1;
}

.title #decision {
  font-size: 3rem;
}

/* project */
.project-overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  border-radius: 1rem;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  /* half test */
  width: 50vw;
  right: 0;
  left: inherit;
}

.close-project {
  position: fixed;
  right: 1rem;
  /* mix-blend-mode: lighten; */
  top: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  font-family: 'EB Garamond';
  z-index: 10;
  padding: 0.5rem;
  border-radius: 1rem;
  mix-blend-mode: lighten;
  background-color: #fff;
  color: #000;
}

audio {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

.text__snippets {
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5rem;
  min-height: 90vh;
  max-width: 60rem;
  margin-left: auto;
}

.text__snippets__pdf-button {
  color: #000;
  font-family: 'EB Garamond';
  padding: 0.5rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 2rem;
  margin-left: auto;
  mix-blend-mode: lighten;
  text-decoration: none;
}

.text__snippet {
  font-family: 'EB Garamond';
  font-size: 2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  margin-bottom: 3rem;
}

.text__snippet__number {
  font-family: 'KTF Rublena Solid';
  margin-right: 0.5rem;
  font-size: 1.5rem;
  margin-right: 6rem;
  display: inline-block;
}

.project__meta {
  z-index: 2;
  left: 1rem;
  top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-size: 1.2rem;
  background: -webkit-linear-gradient(black, #ae7ecade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project__meta span {
  letter-spacing: 0.1rem;
  font-family: 'KTF Rublena Solid';
}

.project-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  letter-spacing: 0.1rem;
  text-align: left;
  z-index: 3;
  color: #fff;
  font-size: 3rem;
}

.project-page .fixed__title {
  left: inherit;
  right: calc(50% + 1rem);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.project-info {
  max-width: 70vw;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  max-width: 100vw;
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ae7ecade));
  background: linear-gradient(180deg, #fff 0%, #ae7ecade 100%);
  line-height: 1.2;
  padding: 1rem 1rem 10rem;
}

.project-info__inner {
  max-width: 960px;
  font-size: 2rem;
  background: -webkit-linear-gradient(black, #ae7ecade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-overlay .project-info {
  color: white;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 1px;
  margin: 0 1vw;
  color: #fff;
}

.slick-slide audio {
  margin-bottom: 0.5rem;
}

.slick-slide img {
  height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.slick-slider {
  opacity: 0;
  pointer-events: none;
  margin-top: 5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slick-slider img {
  opacity: 0;
}

.slick-slider.slick-initialized {
  opacity: 1;
  pointer-events: inherit;
}

.slick-slider.slick-initialized img {
  opacity: 1;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 10;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(calc(-50% + 15px), -50%);
          transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0 !important;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: width .3s, height .3s, opacity .3s;
  transition: width .3s, height .3s, opacity .3s;
}

.cursor img {
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  -webkit-transition: width 0.3s height 0.3s;
  transition: width 0.3s height 0.3s;
}

.barba-leave-active,
.barba-enter-active {
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
}

.barba-leave,
.barba-enter-to {
  opacity: 1;
}

.barba-enter,
.barba-leave-to {
  opacity: 0;
}

.project-page .project-overlay {
  opacity: 1;
  pointer-events: inherit;
}

.about-page .project-overlay {
  opacity: 1;
  pointer-events: inherit;
}

.project-overlay {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ae7ecade), color-stop(25%, white), color-stop(50%, #ae7ecade), to(#fff));
  background: linear-gradient(180deg, #ae7ecade 0%, white 25%, #ae7ecade 50%, #fff 100%);
  pointer-events: none;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 12vh;
  margin-bottom: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.projects__outer {
  height: 100%;
  width: 100vw;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  position: relative;
}

.projects.load-out {
  opacity: 0;
}

.projects.load-in {
  opacity: 1;
}

.projects__text {
  color: #000000;
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  letter-spacing: 0.1rem;
  /* stroke-width: 1px; */
  /* -webkit-text-stroke-color: #fff; */
  /* -webkit-text-stroke-width: 1px;*/
}

.projects__item {
  height: 100%;
  mix-blend-mode: darken;
  width: 45vw;
  height: 40rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  float: left;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__item.blured {
  -webkit-filter: blur(2px) !important;
          filter: blur(2px) !important;
}

.projects__item:hover .projects__item__title {
  opacity: 1;
}

.projects__item:hover img {
  -webkit-filter: grayscale(0) contrast(2);
          filter: grayscale(0) contrast(2);
}

.projects__item__title {
  color: #fff;
  font-size: 2rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  left: 50%;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.projects__item a {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.projects__item img {
  text-decoration: none;
  mix-blend-mode: normal;
  -webkit-filter: grayscale(2) contrast(2);
          filter: grayscale(2) contrast(2);
  width: auto;
  margin: 0 auto;
  max-width: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  mix-blend-mode: lighten;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__item:nth-child(even) {
  margin-top: -20vw;
  margin-left: 3vw;
}

.projects__item:nth-child(odd) {
  margin-top: -10vw;
  width: 48vw;
  margin-right: 3vw;
  margin-left: auto;
}

/* clipped */
.clip1 {
  -webkit-clip-path: url(#mclip1);
  clip-path: url(#clip1);
}

/* intro */
.intro {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  /*Fallback if gradeints don't work */
  background: transparent;
  opacity: 0;
  color: #fff;
  pointer-events: none;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  /*Linear gradient... */
}

.intro.active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  opacity: 1;
  pointer-events: inherit;
}

.selector {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  cursor: none;
  z-index: 2;
  background: radial-gradient(circle, white 62%, #ae7eca 100%);
  opacity: .9;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.selector.hidden {
  opacity: 0;
  pointer-events: none;
}

.grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid div {
  height: 16.7vh;
  font-size: 0;
}

.show-title {
  position: fixed;
  left: 50%;
  top: 50%;
  background: -webkit-linear-gradient(#ddd, #dfa6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #cf7aff0d;
  font-family: 'KTF Rublena Solid';
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 6rem;
  text-align: center;
  z-index: 1000;
  pointer-events: none;
  width: 100vw;
}

.instructions {
  position: fixed;
  top: 1rem;
  color: #c89fdf;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  font-family: 'KTF Rublena Solid';
  font-size: 2rem;
}

.selector__name {
  cursor: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-page {
  /* test with half screen */
}

.project-page .projects__item {
  width: 25vw;
  height: 27rem;
}

.project-page .projects__item img {
  max-width: 24vw;
}

.project-page .projects__outer {
  width: 50vw;
  overflow: scroll;
}

.fixed__title {
  position: fixed;
  bottom: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  text-align: center;
  width: auto;
  z-index: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-family: 'EB Garamond';
  background-color: #fff;
  mix-blend-mode: lighten;
}

.fixed__title__inner__number {
  font-family: 'EB Garamond';
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-variant-numeric: oldstyle-nums;
  margin-right: 0.2rem;
}

.fixed__meta {
  position: fixed;
  bottom: 1rem;
  font-size: 1.2rem;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  text-align: left;
  width: auto;
  left: 1rem;
  color: #000;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  mix-blend-mode: lighten;
}
/*# sourceMappingURL=main.css.map */