

$mobile: 768px;

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Italic.woff2') format('woff2'),
        url('EBGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KTF Rublena Solid';
    src: url('KTFRublena-Solid.woff2') format('woff2'),
        url('KTFRublena-Solid.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}


/* buttons */

button {
    padding: 0.5rem;
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
    font-family: 'EB Garamond';
    color: #000;
    border: none;
    border-radius: 1rem;
    @media (max-width: $mobile) {
      font-size: 1.5rem;
    }
}

.about__link {
  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'EB Garamond';
  border-radius: 1rem;
  mix-blend-mode: lighten;

  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }
}





html,body {
  background: #c19cd6 !important;
    margin: 0;
    padding: 0;
    // width: 100vw;
    // overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'KTF Rublena Solid';
  }

  // apply to body only to retain scrollbar when locking scroll
  body {
    overflow-x: hidden;
  }

  
  .index {
    opacity: 0;
    transition: filter .25s linear;
    display: flex;
    float: none;
    flex-direction: column;
    width: 100vw;
    &.active {
      opacity: 1;
    }
  }

  #c {
    position: fixed;
  }

  .fix {
    position: fixed;
    width: 100vw;
    height: 100vh;

    top: 0;
    z-index: 0;
    transition: width 0.3s ease-in-out;
    left: 0;
    background: rgb(255,255,255);
    //background: linear-gradient(180deg, rgba(255,255,255,0.5032606792717087) 0%, rgba(174,126,202,1) 19%, rgba(255,255,255,1) 36%, rgba(174,126,202,1) 71%, rgba(174,126,202,1) 100%, rgba(174,126,202,1) 100%);
   // background: radial-gradient(at 87% 47%, #a178b700, #fff);
   background: radial-gradient(at 0% 0%, #a178b700, #fff);

    @media (max-width: $mobile) {
      background: radial-gradient(at 0% 0%, #a178b700, #fff) !important;
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
    }
  }

  .fix_2 {
    position: fixed;
    width: 50vw;
    height: 100vh;

    top: 0;
    z-index: 0;
    transition: width 0.3s ease-in-out;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.5032606792717087) 0%, rgba(174,126,202,1) 19%, rgba(255,255,255,1) 36%, rgba(174,126,202,1) 71%, rgba(174,126,202,1) 100%, rgba(174,126,202,1) 100%);


    @media (max-width: $mobile) {
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
    }
  }



  h1,h2,h3,h4,h5 {
    font-weight: normal;
  }

  .index {
    @media (max-width: $mobile) {
      border-top-right-radius: 15rem;
      border-bottom-right-radius: 15rem;
      overflow: hidden;
      }
  }
  
  .index.blurred {
   // filter: blur(5px);
  //  height: 100vh;
    // overflow: hidden;
  }
  
  /* global */
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    mix-blend-mode: lighten;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  
  .header .buttons {
    display: flex;
    flex-flow: row;
    position: fixed;
    display: flex;
    transition: all 0.3s ease-in-out;
    right: 1rem;
    padding-right: 0rem;
  }
  
  .header button {
    background-color: #fff;
      margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .header .title {
    display: flex;
    margin: 0;
    position: fixed;
    left: 1rem;
    text-align: left;
    /* -webkit-transform: translateX(-50%); */
    /* transform: translateX(-50%); */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    color: white;
    @media (max-width: $mobile) {
      max-width: 70vw;
    }
  }
  
  .title span {
    display: flex;
    letter-spacing: 0.1rem;
    flex-flow: column;
    font-size: 1.5rem;
  }

  .title {
      line-height: 1;


      #decision {
          font-size: 3rem;
          @media (max-width: $mobile) {
            font-size: 2.5rem;
          }
      }
  }
  
  
  /* project */
  .project-overlay {
    position: fixed;
    overflow-y: scroll;
    border-top-right-radius: 15rem;
    /* overflow: hidden; */
    border-bottom-right-radius: 15rem;
    top: 0;
   // left: 0;
   // width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;

    /* half test */ 
    width: 50vw;
    right: 0;
    left: inherit;

    @media (max-width: $mobile) {
      width: 100vw;
    }
  }

  .close-project {
    position: fixed;
    right: 1rem;
    /* mix-blend-mode: lighten; */
    top: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
    font-family: 'EB Garamond';
    z-index: 10;
    padding: 0.5rem;
    border-radius: 1rem;
    mix-blend-mode: lighten;
    background-color: #fff;
    color: #000;


   .hide-desktop {
     color: #c19cd6;

   }

    @media (max-width: $mobile) {
      font-size: 1.5rem;
    }
  }

  audio {
    transform: scale(2.5);
  }


  .text {

    &__snippets {
      margin-top: 5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 5rem;
      min-height: 90vh;
      max-width: 60rem;
      margin-left: auto;

      &__pdf-button {
        color: #000;
        font-family: 'EB Garamond';
        padding: 0.5rem;
        font-variant-ligatures: discretionary-ligatures;
        border-radius: 1rem;
        background-color: #fff;
        font-size: 2rem;
        margin-left: auto;
        mix-blend-mode: lighten;
        text-decoration: none;
      }
  
    }

    &__snippet {
      font-family: 'EB Garamond';
      font-size: 2rem;
      font-variant-ligatures: discretionary-ligatures;
      margin-bottom: 3rem;

      &__number {
        font-family: 'KTF Rublena Solid';
        margin-right: 0.5rem;
        font-size: 1.5rem;
        margin-right: 6rem;
        display: inline-block;
      }
  
    }
  }

  .project {
    &__meta {
     // position: fixed;
      z-index: 2;
      left: 1rem;
      top: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      line-height: 1;
      mix-blend-mode: multiply;
    color: #a178b7;
      font-size: 1.2rem;
      padding-top: 0.5rem;
     // background: -webkit-linear-gradient(rgb(0, 0, 0), #ae7ecade);
    //  -webkit-background-clip: text;
    //  -webkit-text-fill-color: transparent;

    &__year {
      margin-bottom: 1rem;
    }

      span {
        letter-spacing: 0.1rem;
        font-family: 'KTF Rublena Solid';
      }
    }
  }


  .project-title {
      position: absolute;
      top: 1rem;
     // display: none;
      left: 1rem;
      max-width: calc(50vw - 20rem);
      line-height: 0.8;
      z-index: 10;
      letter-spacing: 0.1rem;
    //  left: 50%;
    text-align: left;
     // text-align: center;
   //   transform: translateX(-50%);
      z-index: 3;
      color: #fff;
      font-size: 3rem;
      @media (max-width: $mobile) {
        max-width: calc(100vw - 7rem);
        position: fixed;
        font-size: 2.5rem;
      }
  }

  .project-page, .about-page, .program-page {
    .fixed__title__inner__number {
    //  opacity: 0;
      //width: 0;
    }

    @media (max-width: $mobile) {
      .header .title {
        opacity: 0;
      }
    }

    .about__link {
      opacity: 0;
      pointer-events: none;
    }

    .fix {
      width: 50vw;
      border-top-right-radius: 15rem;
      border-bottom-right-radius: 15rem;
      @media (max-width: $mobile) {
        width: 100vw;
      }
    }

    .header .buttons {
      right: calc(50vw + 1rem);
      @media (max-width: $mobile) {
        right: 1rem;
      }
    }

    .fixed__title {
      left: inherit;
      right: calc(50% + 1rem);
      transform: translateX(0);
    }
  }

  .project-info {
      max-width: 70vw;
      font-size: 1.5rem;
      line-height: 1.2;
      font-family: 'EB Garamond';
      font-variant-ligatures: discretionary-ligatures;
      max-width: 100vw;
      position: relative;
      z-index: 4;
      display: flex;
      font-size: 1.5rem;
      background: linear-gradient(180deg, #fff 0%, #ae7ecade 100%);
      line-height: 1.2;
      padding: 2rem 1rem 10rem;

      @media (max-width: $mobile) {
      flex-direction: column-reverse;
      }


      &__inner {
        max-width: 960px;
    color: #8b5fa7;
        font-size: 2rem;
       // background: -webkit-linear-gradient(rgb(0, 0, 0), #ae7ecade);
      //  -webkit-background-clip: text;
     //   -webkit-text-fill-color: transparent;

     a {
       color: #fff;
       text-decoration: none;
     }


     p:first-child {
       margin-top: 0;
     }
      }
  }
  
  .project-overlay .project-info {
    color: white;
  }

  .slick-prev, .slick-next {
      display: none !important;
  }

  .slick-slide {
    display: none;
    flex-direction: column;
    float: left;
    position: relative;
    display: flex !important;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 1px;
    margin: 0 1vw;
    color: #fff;

    audio {
        margin-bottom: 0.5rem;
    }

    img {
        height: 70vh;
        object-fit: contain;
    }
  }

  .slick-slider {
      opacity: 0;
      pointer-events: none;
    margin-top: 5rem;
    transition: all 0.3s ease-in-out;

    img {
        opacity: 0;
    }

    &.slick-initialized {
opacity: 1;
pointer-events: inherit;

img {
    opacity: 1;
}

    }
  }

  .cursor {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    transition: all 200ms ease-out;
    position: fixed;
    z-index: 10;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
  
  
  }

  .cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0 !important;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }


  .cursor img {
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
    transition: width 0.3s height 0.3s;
  }
  
  
  .barba-leave-active,
  .barba-enter-active {
    transition: opacity 450ms ease;
  }
  
  .barba-leave,
  .barba-enter-to {
    opacity: 1;
  }
  
  .barba-enter,
  .barba-leave-to {
    opacity: 0;
  }

  .project-page {
    .project-overlay {
        opacity: 1;
        pointer-events: inherit;
    }
  }

  .about-page {

    &__inner {
      margin-top: 5rem;
    }

    .project-overlay {
      opacity: 1;
   background: radial-gradient(at 0% 50%, #a178b700, #fff);
      pointer-events: inherit;

      p {
        color: #8b5fa7;
        font-family: 'EB Garamond';
        font-size: 2rem;
        line-height: 1.2;
        padding: 1rem;
        max-width: 940px;
        margin: 0 auto;

        &:first-child {
          margin-top: 5rem;
        }
      }
    }
  }

  .program-page {
    .project-overlay {
      opacity: 1;
      pointer-events: inherit;
    }
  }

  .project-overlay {
    opacity: 0;
    background: linear-gradient(180deg, #ae7ecade 0%, white 25%, #ae7ecade 50%,#fff 100%);
    pointer-events: none;
    transition-delay: 0.7s;
    transition: all 0.7s ease-in-out;
  }

    
  .projects {
    display: flex;
   // transition: all 0.1s linear;
   // margin-left: 25vw;
   justify-content: center;
   min-height: 100vh;
    width: 100%;
   // margin-top: 12vh;
   // margin-top: 25vh;
   // margin-bottom: 4rem;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;

    @media (max-width: $mobile) {
      &__item:first-child {
        margin-top: 9rem !important;
      }
    }

    &__outer {
      height: 100%;
      width: 100vw;
      transform: translate3d(0, 0, 0);
      transition: width 0.3s ease-in-out;
      position: relative;
    }

    &.load-out {
      opacity: 0;
    }

    &.load-in {
      opacity: 1;
    }

    &__text {
      color: #000000;
      line-height: 1.8rem;
      font-size: 1.5rem;
      font-family: 'EB Garamond';
      font-variant-ligatures: discretionary-ligatures;
      letter-spacing: 0.1rem;
      /* stroke-width: 1px; */
      /* -webkit-text-stroke-color: #fff; */
      /* -webkit-text-stroke-width: 1px;*/
    }



    &__item {
    height: 100%;
    mix-blend-mode: darken;
    width: 45vw;
    height: 40rem;
    transform: scale(0.7);
    float: left;
    position: relative;
    transition: all 0.3s ease-in-out;

    @media (max-width: $mobile) {
      width: 100vw !important;
      height: 25rem;
    }

    &.blured {
      filter: blur(2px) !important;
    }

    &:hover {
        .projects__item__title {
            opacity: 1;
        }

        img {
          filter: grayscale(0) contrast(2);
        }
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        text-align: center;
        right: 50%;
        font-family: 'EB Garamond';
        font-variant-ligatures: discretionary-ligatures;
        top: 50%;
        position: absolute;
        transform: translateX(50%);
    }


    a {
        position: absolute;
        justify-content: center;
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, #ffffff00 0%, #fff 100%);
        width: 100%;
        height: 100%;
        text-decoration: none;

        &:hover {
          img {
     
          }
        }
    }

    img {
        text-decoration: none;
        mix-blend-mode: normal;
        transform: scale(1.1);
        margin: 0;
        filter: grayscale(2) contrast(2);
        //width: auto;
        //transition: all 0.4s ease-in-out;
        margin: 0 auto;
       width: 100%;
        object-fit: cover;
        height: 100%;
        mix-blend-mode: lighten;
        transition: all 0.3s ease-in-out;
    }

    &:nth-child(even) {
      margin-top: -5vw;
      margin-left: 3vw;
    }

    &:nth-child(3n+3) {
      margin-left: 28% !important;

      @media (max-width: $mobile) {
        margin-left: 13vw !important;
      }
    }

        &:nth-child(odd) {
            margin-top: -10vw;
            width: 48vw;
            margin-right: 3vw;
            margin-left: auto;
        }
    }
  }


  /* clipped */

  .svg {
    height: 0;
    position: absolute;
    pointer-events: none;
    width: 0;
  }

  .clip1 {
    -webkit-clip-path: url(#mclip1);
    clip-path: url(#clip1);
   // margin-left: 30% !important;
  }

  .clip2 {
    -webkit-clip-path: url(#mclip2);
    clip-path: url(#clip2);
   // margin-left: -30% !important;
  }

  .clip3 {
    -webkit-clip-path: url(#mclip3);
    clip-path: url(#clip3);
   // margin-left: 20% !important;
  }

  .clip4 {
    -webkit-clip-path: url(#mclip4);
    clip-path: url(#clip4);
   // margin-left: -20% !important;
  }

  .clip5 {
    -webkit-clip-path: url(#mclip5);
    clip-path: url(#clip5);
   // margin-left: 20% !important;
  }

  .clip6 {
    -webkit-clip-path: url(#mclip6);
    clip-path: url(#clip6);
   // margin-left: -20% !important;
  }

  .clip7 {
    -webkit-clip-path: url(#mclip7);
    clip-path: url(#clip7);
   // margin-left: 10% !important;
  }

  .clip8 {
    -webkit-clip-path: url(#mclip8);
    clip-path: url(#clip8);
  //  margin-left: -10% !important;
  }

  .clip9 {
    -webkit-clip-path: url(#mclip9);
    clip-path: url(#clip9);
   // margin-left: 30% !important;
  }

  .clip10 {
    -webkit-clip-path: url(#mclip10);
    clip-path: url(#clip10);
  //  margin-left: -30% !important;
  }

  .clip11 {
    -webkit-clip-path: url(#mclip11);
    clip-path: url(#clip11);
   // margin-left: 40% !important;
  }

  .clip12 {
    -webkit-clip-path: url(#mclip12);
    clip-path: url(#clip12);
   // margin-left: -40% !important;
  }

  .clip13 {
    -webkit-clip-path: url(#mclip13);
    clip-path: url(#clip13);
    //margin-left: 40% !important;
  }

  .clip14 {
    -webkit-clip-path: url(#mclip14);
    clip-path: url(#clip14);
   // margin-left: -40% !important;
  }


    /* intro */
.intro {
    position: fixed;
    left:0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
      /*Fallback if gradeints don't work */
  background: transparent;
  opacity: 0;
  color:#fff;
  pointer-events: none;
  transition: all 0.7s ease-in-out;
  /*Linear gradient... */

     &.active {
        transition: all 0s ease-in-out;
         opacity: 1;
         pointer-events: inherit;
    }

    
}


.selector {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  cursor: none;
  z-index: 200;
  background: radial-gradient(circle, rgba(255,255,255,1) 62%, rgba(174,126,202,1) 100%);
  opacity: .9;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.3s;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .grid div {
   height: 16.7vh;
    font-size: 0;
    
  }
  
  
  .show-title {
    position: fixed;
    left: 50%;
    top: 50%;
    background: -webkit-linear-gradient(#ddd, #dfa6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #cf7aff0d;
        font-family: 'KTF Rublena Solid';
      transform: translateY(-50%) translateX(-50%);
    font-size: 6rem;
    text-align: center;
    z-index: 1000;
    pointer-events: none;
    width: 100vw;
  }
  
  
  .instructions {
    position: fixed;
    top: 1rem;
    color: #c89fdf;
    transform: translateX(-50%);
    left: 50%;
    font-family: 'KTF Rublena Solid';
    font-size: 2rem;
  }


.selector__name {
  cursor: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}


.project-page, .about-page, .program-page {
  .fixed__title {
  //  font-size: 3rem;
  }

  .header .buttons {
    @media (max-width: $mobile) {
      opacity: 0;
    }
  }

  .projects__item:nth-child(3n+3) {
    margin-left: 28% !important;
    margin-top: -5vw !important;
}

.projects__item:nth-child(odd) {
  margin-top: -5vw !important;
}

  /* test with half screen */

  .projects__item {
    width: 25vw;
    height: 27rem;

    img {
      max-width: 24vw;
    }
  }

  .projects__outer {
    width: 50vw;
    overflow: scroll;
    @media (max-width: $mobile) {
      opacity: 0;
      width: 100vw;
    }
  }
}


.fixed__title {
  position: fixed;
  //  top: 1rem;
  bottom: 1rem;
    transition: 0.3s ease-in-out;
    font-size: 2rem;
    font-variant-ligatures: discretionary-ligatures;
    text-align: center;
    width: auto;
    letter-spacing: 0.1rem;
    z-index: 100;
    align-items: center;
    display: flex;
    transition: all 0.3s ease-in-out;
    right: 50%;
    max-width: 34vw;
    transform: translateX(50%);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    mix-blend-mode: lighten;

    &__inner__number {
      font-family: 'EB Garamond';
      font-size: 1.5rem;
      display: flex;
      font-variant-numeric: oldstyle-nums;
      margin-right: 0.2rem;
    }
}

.fixed__meta {
  position: fixed;
    bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'EB Garamond';
    font-variant-ligatures: discretionary-ligatures;
    text-align: left;
    width: auto;
    left: 1rem;
  //  color: #000;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    // background-color: #fff;
    // mix-blend-mode: lighten;
    color: #FFF;
}


.radio {
  &__overlay {
    position: fixed;
    width: 620px;
    overflow: hidden;
    height: auto;
    z-index: 1000;
    background: #ff0100;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 1rem;

    @media (max-width: $mobile) {
      width: calc(100vw - 4rem);
      left: 1rem;
      font-size: 2.5rem;
      height: auto;
      transform: translate(0, -50%);
      
    }

    .marquee {
      padding: 0 0 0.5rem;
      font-size: 1.5rem;
      width: 100%;
      font-family: 'EB Garamond';
      font-variant-ligatures: discretionary-ligatures;
      
    }
    
    .marquee3k {
      //white-space: pre;
      //overflow:hidden
    }
    
    .marquee span {
      margin-right: 25px;
    }

    &__headline {
      text-align: left;
      margin-bottom: 1rem;

      @media (max-width: $mobile) {
        font-size: 8vw;
      }

      .live {
        opacity: 0;
        font-family: 'EB Garamond';
        animation: 2s linear infinite blinker;
      }

      @keyframes blinker {
        0% {opacity: 0;}
        49% {opacity: 1;}
        69% {opacity: 1;}
        99% {opacity: 0;}
      }

      &__subline {
        display: flex;
        justify-content: space-between;
        font-family: 'EB Garamond';
        font-variant-ligatures: discretionary-ligatures;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        line-height: 1;

        @media (max-width: $mobile) {
          font-size: 5vw;
        }
  

      }
    }



    .play,
.pause {
  display: flex;
  cursor: pointer;
  justify-content: center;
  color: #000;
  mix-blend-mode: lighten;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 2rem;
  padding: 1rem;
  font-family: 'EB GARAMOND';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media (max-width: $mobile) {
    font-size: 8vw;
  }

  svg {
    width: 30px;
    fill: #000;
    height: 30px;
    margin-right: 10px;
  }

  &.hide {
    display: none !important;
  }
}

    svg {
      width: 3rem;
    }
  }
}


// --- program button ---
.program-button {
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 4;
  // transition: 0.3s ease-in-out;
  font-size: 2rem;
  font-variant-ligatures: discretionary-ligatures;
  text-align: center;
  width: auto;
  letter-spacing: 0.1rem;
  z-index: 100;
  align-items: center;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: red;
  // mix-blend-mode: lighten;
  white-space: nowrap;
  & a {
    color: white;
    text-decoration: none;
  }
  &.ui-draggable-dragging {
    cursor: move;
    & a {
      cursor: move;
      pointer-events: none;
    }
  }
}




// --- program stuff (copypasted from temporary page) ---
.program strong {
  font-family: 'KTF Rublena Solid';
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

.program .day {
  margin-top: 5rem;
  display: block;
  font-family: 'EB Garamond', serif;
}

.day-first {
  margin-top: 0;
  font-family: 'EB Garamond', serif !important;
  display: block;
}

.program {
  font-size: 1.5rem !important;
  letter-spacing: 0.1rem;
  margin: 2rem auto 2rem;
  color: #fff;
  display: block;
  padding: 0 1rem 5rem;
  max-width: 700px;
}

.program__wrapper {
  display: flex;

}

@media only screen and (max-width: 768px) {
  .program__wrapper {
    flex-direction: column;
  }
}

.program__outer {
  position: relative;
  // margin-left: 50vw;
}

.program p {
  font-size: 1.7rem;
  letter-spacing: 0.07rem;
  color: #fff;
  font-variant-numeric: oldstyle-nums;
  margin-bottom: 1rem;
}

.program a {
  border-radius: 1rem;
  display: block;
  font-style: normal;
  background-color: #fff;
  margin: 1rem auto 2.5rem;
  color: #b68dcf !important;
  padding: 0.5rem 1rem;
  mix-blend-mode: lighten;

  width: fit-content;
}