@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Italic.woff2") format("woff2"), url("EBGaramond-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Regular.woff2") format("woff2"), url("EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Regular.woff2") format("woff2"), url("EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KTF Rublena Solid';
  src: url("KTFRublena-Solid.woff2") format("woff2"), url("KTFRublena-Solid.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* buttons */
button {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'EB Garamond';
  background-color: #fff;
  border: none;
  border-radius: 2rem;
}

html, body {
  background: radial-gradient(50% 50% at 50% 50%, #268F56 64.75%, rgba(79, 79, 79, 0.66) 100%) fixed;
  margin: 0;
  padding: 0;
  font-family: 'KTF Rublena Solid';
}

* > img {
  max-width: 200px;
}

.index {
  -webkit-transition: -webkit-filter .25s linear;
  transition: -webkit-filter .25s linear;
  transition: filter .25s linear;
  transition: filter .25s linear, -webkit-filter .25s linear;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.index.blurred {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/* global */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
}

.header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.header button {
  margin-bottom: 1rem;
  cursor: pointer;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: white;
}

.title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.title {
  line-height: 1;
}

.title #decision {
  font-size: 3rem;
}

/* project */
.project-overlay {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.project-overlay .project-info {
  color: white;
}

.barba-leave-active,
.barba-enter-active {
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
}

.barba-leave,
.barba-enter-to {
  opacity: 1;
}

.barba-enter,
.barba-leave-to {
  opacity: 0;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__item {
  height: 100%;
  width: 45vw;
  height: 40rem;
  overflow: hidden;
  float: left;
  position: relative;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.projects__item a, .projects__item img {
  width: 80%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80%;
  mix-blend-mode: lighten;
}

.projects__item:nth-child(even) {
  margin-top: -20rem;
}

.projects__item:nth-child(odd) {
  margin-top: 0;
  width: 40vw;
  margin-right: 0;
  margin-left: auto;
}

/* clipped */
.clip1 {
  -webkit-clip-path: url(#mclip1);
  clip-path: url(#clip1);
}

/* intro */
.intro {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  /*Fallback if gradeints don't work */
  background: #9b59b6;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  /*Linear gradient... */
  background: radial-gradient(at center, #4F4F4F, #268F56);
}

.intro.active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  opacity: 1;
  pointer-events: inherit;
}
/*# sourceMappingURL=main.css.map */