



@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Italic.woff2') format('woff2'),
        url('EBGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KTF Rublena Solid';
    src: url('KTFRublena-Solid.woff2') format('woff2'),
        url('KTFRublena-Solid.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/* buttons */

button {
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'EB Garamond';
    color: #000;
    border: none;
    border-radius: 1rem;
}


html,body {
    background: radial-gradient(50% 50% at 50% 50%, #268F56 64.75%, rgba(79, 79, 79, 0.66) 100%) fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'KTF Rublena Solid';
  }
  
  * > img {
    max-width: 200px;
  }
  
  .index {
      opacity: 0;
    transition: filter .25s linear;
    display: flex;
    float: none;
    flex-direction: column;
    width: 100vw;

    &.active {
        opacity: 1;
    }
  }

  .fix {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 0;
    left: 0;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.5032606792717087) 0%, rgba(174,126,202,1) 19%, rgba(255,255,255,1) 36%, rgba(174,126,202,1) 71%, rgba(174,126,202,1) 100%, rgba(174,126,202,1) 100%);
  }

  h1,h2,h3,h4,h5 {
      font-weight: normal;
  }
  
  .index.blurred {
    filter: blur(5px);
    height: 100vh;
    overflow: hidden;
  }
  
  /* global */
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    mix-blend-mode: lighten;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  
  .header .buttons {
    display: flex;
    padding-right: 2rem;
    flex-flow: row;
  }
  
  .header button {
    background-color: #fff;
      margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .header .title {
    display: flex;
    margin: 0;
    position: fixed;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    flex-flow: column;
    color: white;
  }
  
  .title span {
    display: flex;
    letter-spacing: 0.1rem;
    flex-flow: column;
  }

  .title {
      line-height: 1;
      #decision {
          font-size: 3rem;
      }
  }
  
  
  /* project */
  .project-overlay {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
  }

  .close-project {
    position: fixed;
    right: 1rem;
    /* mix-blend-mode: lighten; */
    top: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'EB Garamond';
    z-index: 10;
    padding: 0.5rem;
    border-radius: 1rem;
    mix-blend-mode: lighten;
    background-color: #fff;
    color: #000;
  }

  audio {
    transform: scale(2.5);
  }


  .project-title {
      position: fixed;
      top: 1rem;
      left: 1rem;
      z-index: 10;
      color: #fff;
      font-size: 3rem;
  }

  .project-info {
      max-width: 70vw;
      font-size: 1.5rem;
      line-height: 1.2;
      font-family: 'EB Garamond';
      max-width: 100vw;
      font-size: 1.5rem;
      background: linear-gradient(180deg, #ae7ecade 0%, white 100%);
      line-height: 1.2;
      font-family: 'EB Garamond';
      padding: 1rem 1rem;

      &__inner {
        max-width: 700px;
        background: -webkit-linear-gradient(rgb(0, 0, 0), #ae7ecade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  }
  
  .project-overlay .project-info {
    color: white;
  }

  .slick-prev, .slick-next {
      display: none !important;
  }

  .slick-slide {
    display: none;
    flex-direction: column;
    float: left;
    position: relative;
    display: flex !important;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 1px;
    margin: 0 1vw;
    color: #fff;

    audio {
        margin-bottom: 0.5rem;
    }

    img {
        height: 70vh;
        object-fit: contain;
    }
  }

  .slick-slider {
      opacity: 0;
      pointer-events: none;
    margin-top: 5rem;
    transition: all 0.3s ease-in-out;

    img {
        opacity: 0;
    }

    &.slick-initialized {
opacity: 1;
pointer-events: inherit;

img {
    opacity: 1;
}

    }
  }

  .cursor {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    transition: all 200ms ease-out;
    position: fixed;
    z-index: 10;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
  
  
  }

  .cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0 !important;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }


  .cursor img {
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
    transition: width 0.3s height 0.3s;
  }
  
  
  .barba-leave-active,
  .barba-enter-active {
    transition: opacity 450ms ease;
  }
  
  .barba-leave,
  .barba-enter-to {
    opacity: 1;
  }
  
  .barba-enter,
  .barba-leave-to {
    opacity: 0;
  }

  .project-page {
      .project-overlay {
          opacity: 1;
          pointer-events: inherit;
      }
  }

  .project-overlay {
      opacity: 0;
      background: linear-gradient(180deg, #ae7ecade 0%, white 100%);
      pointer-events: none;
      transition-delay: 0.7s;
      transition: all 0.7s ease-in-out;
  }

    
  .projects {
    display: flex;
    margin-top: 12vw;
    margin-bottom: 4rem;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;

    &.load-out {
      opacity: 0;
    }

    &.load-in {
      opacity: 1;
    }

    &__text {
      color: #000000;
      line-height: 1.8rem;
      font-size: 1.5rem;
      font-family: 'EB Garamond';
      letter-spacing: 0.1rem;
      /* stroke-width: 1px; */
      /* -webkit-text-stroke-color: #fff; */
      /* -webkit-text-stroke-width: 1px;*/
    }


    &__item {
    height: 100%;
    mix-blend-mode: darken;
    width: 45vw;
    height: 40rem;
    float: left;
    position: relative;
    transition: all 0.3s ease-in-out;

    &.blured {
      filter: blur(2px) !important;
    }

    &:hover {
        .projects__item__title {
            opacity: 1;
        }
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        text-align: center;
        left: 50%;
        font-family: 'EB Garamond';
        top: 50%;
        position: absolute;
        transform: translate(-50%);
    }

    a {
        position: absolute;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;

        &:hover {
          img {
     
          }
        }
    }

    img {
        text-decoration: none;
        mix-blend-mode: normal;
        filter: grayscale(2) contrast(2);
        width: auto;
        //transition: all 0.4s ease-in-out;
        margin: 0 auto;
        max-width: 40vw;
        object-fit: cover;
        height: 100%;
        mix-blend-mode: lighten;
    }

    &:nth-child(even) {
        margin-top: -20vw;
        margin-left: 3vw;
 
    }

        &:nth-child(odd) {
            margin-top: -10vw;
            width: 48vw;
            margin-right: 3vw;
            margin-left: auto;
        }
    }
  }


  /* clipped */
  .clip1 {
    -webkit-clip-path: url(#mclip1);
    clip-path: url(#clip1);
  }


    /* intro */
.intro {
    position: fixed;
    left:0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
      /*Fallback if gradeints don't work */
  background: transparent;
  opacity: 0;
  color:#fff;
  pointer-events: none;
  transition: all 0.7s ease-in-out;
  /*Linear gradient... */

     &.active {
        transition: all 0s ease-in-out;
         opacity: 1;
         pointer-events: inherit;
    }

    
}


.selector {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  cursor: none;
  z-index: 2;
  background: radial-gradient(circle, rgba(255,255,255,1) 62%, rgba(174,126,202,1) 100%);
  opacity: .9;
  &.hidden {
    display: none;
  }
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .grid div {
    height: 14.5vh;font-size: 0;
    
  }
  
  
  .show-title {
    position: fixed;
    left: 50%;
    top: 50%;
    background: -webkit-linear-gradient(#ddd, #dfa6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #cf7aff0d;
        font-family: 'KTF Rublena Solid';
      transform: translateY(-50%) translateX(-50%);
    font-size: 6rem;
    text-align: center;
    z-index: 1000;
    pointer-events: none;
    width: 100vw;
  }
  
  
  .instructions {
    position: fixed;
    top: 1rem;
    color: #c89fdf;
    transform: translateX(-50%);
    left: 50%;
    font-family: 'KTF Rublena Solid';
    font-size: 2rem;
  }


.selector__name {
  cursor: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.fixed__title {
  position: fixed;
    bottom: 1rem;
    font-size: 2rem;
    font-family: 'EB Garamond';
    text-align: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    mix-blend-mode: lighten;
}

.fixed__meta {
  position: fixed;
    bottom: 1rem;
    font-size: 1rem;
    font-family: 'EB Garamond';
    text-align: left;
    width: auto;
    left: 1rem;
   color: #000;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    mix-blend-mode: lighten;
}