@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Italic.woff2") format("woff2"), url("EBGaramond-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Regular.woff2") format("woff2"), url("EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Regular.woff2") format("woff2"), url("EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KTF Rublena Solid';
  src: url("KTFRublena-Solid.woff2") format("woff2"), url("KTFRublena-Solid.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}

.screensaver {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}

.screensaver img {
  position: absolute;
  width: 3rem;
}

/* buttons */
button {
  padding: 0.5rem;
  font-size: 1.8rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  font-family: 'EB Garamond';
  color: #000;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  button {
    font-size: 1.7rem;
  }
}

.about__link {
  position: fixed;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  font-family: 'EB Garamond';
  border-radius: 1rem;
  mix-blend-mode: lighten;
}

@media (max-width: 768px) {
  .about__link {
    font-size: 1.5rem;
    text-align: center;
    right: 0.5rem;
    width: calc(50vw - 1.25rem);
    bottom: 0.5rem;
  }
}

html, body {
  background: #c19cd6 !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'KTF Rublena Solid';
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.index {
  opacity: 0;
  -webkit-transition: -webkit-filter .25s linear;
  transition: -webkit-filter .25s linear;
  transition: filter .25s linear;
  transition: filter .25s linear, -webkit-filter .25s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.index.active {
  opacity: 1;
}

#c {
  position: fixed;
}

.fix {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 0;
  background: white;
  background: radial-gradient(at 0% 0%, #a178b700, #fff);
}

@media (max-width: 768px) {
  .fix {
    background: radial-gradient(at 0% 0%, #a178b700, #fff) !important;
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

@media (max-width: 768px) {
  .index {
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
    overflow: hidden;
  }
}

.dday.active {
  display: none;
}

/* global */
.header {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  font-size: 6rem;
  text-align: center;
  z-index: 0;
  pointer-events: none;
  width: 100vw;
}

@media (max-width: 768px) {
  .header {
    left: 0.5rem;
    top: 0.5rem;
    width: 100vw;
    z-index: 10;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

.buttons {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  z-index: 10;
  flex-flow: row;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: fixed;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 50%;
  top: 1rem;
  /* background-color: #fff; */
  mix-blend-mode: lighten;
  padding-right: 0rem;
}

@media (max-width: 768px) {
  .buttons {
    -webkit-transform: none;
            transform: none;
    right: 0.5rem;
    left: inherit;
    top: 0.5rem;
    left: inherit;
  }
}

.buttons button {
  background-color: #fff;
}

.header button {
  background-color: #fff;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: fixed;
  font-size: 6rem;
  left: 1rem;
  left: 50%;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  color: white;
}

@media (max-width: 768px) {
  .header .title {
    max-width: 70vw;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    font-size: 3rem;
    text-align: left;
    left: 0.5rem;
    -webkit-transform: none;
            transform: none;
  }
}

.title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .title span {
    font-size: 1.2rem;
  }
}

.title {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 1;
}

.title #decision {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 6rem;
  width: 90vw;
}

@media (max-width: 768px) {
  .title #decision {
    font-size: 2rem !important;
    max-width: calc(100vw - 7rem);
  }
}

/* project */
.project-overlay {
  position: fixed;
  overflow-y: scroll;
  border-top-right-radius: 15rem;
  /* overflow: hidden; */
  border-bottom-right-radius: 15rem;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  /* half test */
  width: 50vw;
  right: 0;
  left: inherit;
}

@media (max-width: 768px) {
  .project-overlay {
    width: 100vw;
    border-top-right-radius: 12rem;
    border-bottom-right-radius: 12rem;
  }
}

.close-project {
  position: fixed;
  right: 1rem;
  /* mix-blend-mode: lighten; */
  top: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  font-family: 'EB Garamond';
  z-index: 10;
  padding: 0.5rem;
  border-radius: 1rem;
  mix-blend-mode: lighten;
  background-color: #fff;
  color: #c19cd6;
}

.close-project .hide-desktop {
  color: #c19cd6;
}

@media (max-width: 768px) {
  .close-project {
    font-size: 1.7rem;
    right: 0.5rem;
    top: 0.5rem;
  }
}

.text__snippets {
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 4rem;
  margin-bottom: 5rem;
  min-height: 90vh;
  max-width: 60rem;
  margin-left: auto;
}

.text__snippets__pdf-button {
  color: #000;
  font-family: 'EB Garamond';
  padding: 0.5rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 1.8rem;
  margin-left: auto;
  mix-blend-mode: lighten;
  text-decoration: none;
}

.text__snippet {
  font-family: 'EB Garamond';
  font-size: 1.8rem;
  line-height: 2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  margin-bottom: 3rem;
  color: #a178b7;
}

.text__snippet__number {
  margin-right: 0.5rem;
  font-size: 1.9rem;
  margin-right: 6rem;
  display: inline-block;
}

.project__meta {
  z-index: 2;
  left: 1rem;
  top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
  mix-blend-mode: multiply;
  color: #a178b7;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

@media (max-width: 768px) {
  .project__meta {
    font-size: 1.7rem;
  }
}

.project__meta__year {
  margin-bottom: 1rem;
}

.project__meta span {
  letter-spacing: 0.1rem;
  font-family: 'KTF Rublena Solid';
}

.project-title {
  position: fixed;
  top: 1rem;
  left: calc( 50vw + 1rem);
  max-width: calc(50vw - 5rem);
  line-height: 0.8;
  z-index: 10;
  letter-spacing: 0.1rem;
  text-align: left;
  z-index: 3;
  color: #fff;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .project-title {
    max-width: calc(100vw - 7rem);
    position: fixed;
    left: 0.5rem;
    top: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .project-page .radio__overlay, .about-page .radio__overlay, .program-page .radio__overlay {
    width: calc(50vw - 1.25rem);
    bottom: 0.5rem;
    right: 0.5rem;
    left: inherit;
  }
  .project-page .radio__overlay__headline, .project-page .radio__overlay__subline, .about-page .radio__overlay__headline, .about-page .radio__overlay__subline, .program-page .radio__overlay__headline, .program-page .radio__overlay__subline {
    display: none;
  }
}

.project-page .buttons, .about-page .buttons, .program-page .buttons {
  opacity: 0;
  pointer-events: none;
}

.project-page .header, .about-page .header, .program-page .header {
  left: 1rem;
  top: 1rem;
  z-index: 10;
  font-size: 3rem;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@media (max-width: 768px) {
  .project-page .header, .about-page .header, .program-page .header {
    left: 0.5rem;
    top: 0.5rem;
  }
}

.project-page .header .title, .about-page .header .title, .program-page .header .title {
  text-align: left;
  z-index: 10;
  font-size: 3rem;
  left: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  top: 0;
}

.project-page .header .title .dday, .about-page .header .title .dday, .program-page .header .title .dday {
  font-size: 1.5rem;
}

.project-page .header .title #decision, .about-page .header .title #decision, .program-page .header .title #decision {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .project-page .header .title, .about-page .header .title, .program-page .header .title {
    opacity: 0;
  }
}

.project-page .about__link, .about-page .about__link, .program-page .about__link {
  opacity: 0;
  pointer-events: none;
}

.project-page .fix, .about-page .fix, .program-page .fix {
  width: 50vw;
  border-top-right-radius: 15rem;
  border-bottom-right-radius: 15rem;
}

@media (max-width: 768px) {
  .project-page .fix, .about-page .fix, .program-page .fix {
    width: 100vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.project-page .buttons, .about-page .buttons, .program-page .buttons {
  right: calc(50vw + 1rem);
}

@media (max-width: 768px) {
  .project-page .buttons, .about-page .buttons, .program-page .buttons {
    right: 1rem;
  }
}

.project-page .fixed__title, .about-page .fixed__title, .program-page .fixed__title {
  left: inherit;
  right: calc(50% + 1rem);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 768px) {
  .project-page .fixed__title, .about-page .fixed__title, .program-page .fixed__title {
    display: none !important;
  }
}

.project-info {
  max-width: 70vw;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: 'EB Garamond';
  font-variant-numeric: oldstyle-nums;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  max-width: 100vw;
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ae7ecade));
  background: linear-gradient(180deg, #fff 0%, #ae7ecade 100%);
  line-height: 1.2;
  padding: 1rem 1rem 10rem;
}

@media (max-width: 768px) {
  .project-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0.5rem 0.5rem 10rem;
  }
}

.project-info__inner {
  max-width: 960px;
  color: #8b5fa7;
  line-height: 1.9rem;
  font-variant-numeric: oldstyle-nums;
  font-size: 1.9rem;
}

@media (max-width: 768px) {
  .project-info__inner {
    font-size: 1.7rem;
    padding: 0;
    line-height: 1.9rem;
  }
}

.project-info__inner a {
  color: #fff;
  text-decoration: none;
}

.project-info__inner p:first-child {
  margin-top: 0;
}

.project-overlay .project-info {
  color: white;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 1px;
  margin: 0 1vw;
  color: #fff;
}

.slick-slide audio {
  margin-bottom: 0.5rem;
}

.slick-slide img {
  height: 70vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.slick-slider {
  opacity: 0;
  pointer-events: none;
  margin-top: 5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slick-slider img {
  opacity: 0;
}

.slick-slider.slick-initialized {
  opacity: 1;
  pointer-events: inherit;
}

.slick-slider.slick-initialized img {
  opacity: 1;
}

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}

#cursor img {
  -webkit-animation: spin 8s linear infinite;
          animation: spin 8s linear infinite;
}

@-webkit-keyframes spin {
  10% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: rotate(199deg);
    transform: rotate(199deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes spin {
  10% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  80% {
    -webkit-transform: rotate(199deg);
    transform: rotate(199deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
  }
  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
  }
  #cursor.arrow::after {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }
  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: rgba(227, 222, 193, 0.08);
    border-color: transparent;
  }
}

.cursor {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  z-index: 10;
  pointer-events: none;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0 !important;
  position: fixed;
  pointer-events: none;
  -webkit-transition: width .3s, height .3s, opacity .3s;
  transition: width .3s, height .3s, opacity .3s;
}

.cursor img {
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  -webkit-transition: width 0.3s height 0.3s;
  transition: width 0.3s height 0.3s;
}

.barba-leave-active,
.barba-enter-active {
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
}

.barba-leave,
.barba-enter-to {
  opacity: 1;
}

.barba-enter,
.barba-leave-to {
  opacity: 0;
}

.project-page .project-overlay {
  opacity: 1;
  pointer-events: inherit;
}

.program-page .project-overlay {
  background: radial-gradient(at 0% 50%, #a178b700, #fff);
}

.about-page__inner {
  line-height: 2.3rem;
  margin-top: 5rem;
  padding-bottom: 7rem;
}

.about-page .project-overlay {
  opacity: 1;
  background: radial-gradient(at 0% 50%, #a178b700, #fff);
  pointer-events: inherit;
  font-variant-numeric: oldstyle-nums;
}

.about-page .project-overlay p {
  color: #8b5fa7;
  font-family: 'EB Garamond';
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-variant-numeric: oldstyle-nums;
  padding: 1rem 1rem;
  max-width: 940px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .about-page .project-overlay p {
    font-size: 1.7rem;
    line-height: 1.9rem;
    padding: 1rem 0.5rem;
  }
}

.about-page .project-overlay p:first-child {
  margin-top: 5rem;
}

.program-page .project-overlay {
  opacity: 1;
  padding: 1rem 0;
  pointer-events: inherit;
}

.circ-grad:after {
  background: none !important;
  content: '';
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 15%, white 65%) !important;
}

.lin-grad {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.lin-grad:after {
  content: '';
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff00), to(#fff));
  background: linear-gradient(0deg, #ffffff00 0%, #fff 100%);
}

.project-overlay {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ae7ecade), color-stop(25%, white), color-stop(50%, #ae7ecade), to(#fff));
  background: linear-gradient(180deg, #ae7ecade 0%, white 25%, #ae7ecade 50%, #fff 100%);
  pointer-events: none;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .projects__item:first-child {
    margin-top: 9rem !important;
  }
}

.projects__outer {
  height: 100%;
  width: 100vw;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  position: relative;
}

.projects.load-out {
  opacity: 0;
}

.projects.load-in {
  opacity: 1;
}

.projects__text {
  color: #8b5fa7;
  line-height: 2.5rem;
  font-size: 3rem;
  letter-spacing: -0.1rem;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  /* stroke-width: 1px; */
  /* -webkit-text-stroke-color: #fff; */
  /* -webkit-text-stroke-width: 1px;*/
}

.projects__item {
  height: 100%;
  mix-blend-mode: darken;
  width: 45vw;
  height: 40rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  float: left;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__item audio {
  -webkit-transform: scale(1.5) translate(0%, 50%);
          transform: scale(1.5) translate(0%, 50%);
  position: absolute;
  top: 50%;
  position: absolute;
  top: 50%;
}

@media (max-width: 768px) {
  .projects__item {
    width: 100vw !important;
    height: 25rem;
  }
}

.projects__item.blured {
  -webkit-filter: blur(2px) !important;
          filter: blur(2px) !important;
}

.projects__item:hover .projects__item__title {
  opacity: 1;
}

.projects__item:hover img {
  -webkit-filter: grayscale(0) contrast(2);
          filter: grayscale(0) contrast(2);
}

.projects__item__title {
  color: #fff;
  font-size: 2rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  right: 50%;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.projects__item a {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.projects__item img {
  text-decoration: none;
  mix-blend-mode: normal;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin: 0;
  -webkit-filter: grayscale(2) contrast(2);
          filter: grayscale(2) contrast(2);
  margin: 0 auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  mix-blend-mode: lighten;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__item:nth-child(even) {
  margin-top: -5vw;
  margin-left: 3vw;
}

.projects__item:nth-child(3n+3) {
  margin-left: 28% !important;
}

@media (max-width: 768px) {
  .projects__item:nth-child(3n+3) {
    margin-left: 13vw !important;
  }
}

.projects__item:nth-child(odd) {
  margin-top: -10vw;
  width: 48vw;
  margin-right: 3vw;
  margin-left: auto;
}

/* clipped */
.svg {
  height: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
}

.clip1 {
  -webkit-clip-path: url(#mclip1);
  clip-path: url(#clip1);
}

.clip2 {
  -webkit-clip-path: url(#mclip2);
  clip-path: url(#clip2);
}

.clip3 {
  -webkit-clip-path: url(#mclip3);
  clip-path: url(#clip3);
}

.clip4 {
  -webkit-clip-path: url(#mclip4);
  clip-path: url(#clip4);
}

.clip5 {
  -webkit-clip-path: url(#mclip5);
  clip-path: url(#clip5);
}

.clip6 {
  -webkit-clip-path: url(#mclip6);
  clip-path: url(#clip6);
}

.clip7 {
  -webkit-clip-path: url(#mclip7);
  clip-path: url(#clip7);
}

.clip8 {
  -webkit-clip-path: url(#mclip8);
  clip-path: url(#clip8);
}

.clip9 {
  -webkit-clip-path: url(#mclip9);
  clip-path: url(#clip9);
}

.clip10 {
  -webkit-clip-path: url(#mclip10);
  clip-path: url(#clip10);
}

.clip11 {
  -webkit-clip-path: url(#mclip11);
  clip-path: url(#clip11);
}

.clip12 {
  -webkit-clip-path: url(#mclip12);
  clip-path: url(#clip12);
}

.clip13 {
  -webkit-clip-path: url(#mclip13);
  clip-path: url(#clip13);
}

.clip14 {
  -webkit-clip-path: url(#mclip14);
  clip-path: url(#clip14);
}

/* intro */
.intro {
  position: fixed;
  left: 0;
  cursor: pointer;
  top: 0;
  z-index: 1000;
  width: calc(100vw - 1rem);
  height: 100vh;
  padding: 0.5rem;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  /*Fallback if gradeints don't work */
  background: #c19cd6;
  opacity: 0;
  color: #fff;
  pointer-events: none;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  /*Linear gradient... */
}

@media (max-width: 768px) {
  .intro {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.intro.active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  opacity: 1;
  pointer-events: inherit;
}

.selector {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  cursor: none;
  z-index: 200;
  background: radial-gradient(circle, white 62%, #ae7eca 100%);
  opacity: .9;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.selector.hidden {
  opacity: 0;
  pointer-events: none;
}

.grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid div {
  height: 16.7vh;
  font-size: 0;
}

.show-title {
  position: fixed;
  left: 50%;
  top: 50%;
  background: -webkit-linear-gradient(#ddd, #dfa6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #cf7aff0d;
  font-family: 'KTF Rublena Solid';
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 6rem;
  text-align: center;
  z-index: 1000;
  pointer-events: none;
  width: 100vw;
}

.instructions {
  position: fixed;
  top: 1rem;
  color: #c89fdf;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  font-family: 'KTF Rublena Solid';
  font-size: 2rem;
}

.selector__name {
  cursor: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-page, .about-page, .program-page {
  /* test with half screen */
}

@media (max-width: 768px) {
  .project-page .buttons, .about-page .buttons, .program-page .buttons {
    opacity: 0;
  }
}

.project-page .projects__item:nth-child(3n+3), .about-page .projects__item:nth-child(3n+3), .program-page .projects__item:nth-child(3n+3) {
  margin-left: 28% !important;
  margin-top: -5vw !important;
}

.project-page .projects__item:nth-child(odd), .about-page .projects__item:nth-child(odd), .program-page .projects__item:nth-child(odd) {
  margin-top: -5vw !important;
}

.project-page .projects__item, .about-page .projects__item, .program-page .projects__item {
  width: 25vw;
  height: 27rem;
}

.project-page .projects__outer, .about-page .projects__outer, .program-page .projects__outer {
  width: 50vw;
  overflow: scroll;
}

@media (max-width: 768px) {
  .project-page .projects__outer, .about-page .projects__outer, .program-page .projects__outer {
    opacity: 0;
    width: 100vw;
  }
}

.fixed__title {
  position: fixed;
  bottom: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 2rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  text-align: center;
  width: auto;
  letter-spacing: 0.1rem;
  z-index: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: 50%;
  max-width: 34vw;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  border-radius: 1rem;
  pointer-events: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  mix-blend-mode: lighten;
  opacity: 0;
}

@media (max-width: 768px) {
  .fixed__title {
    display: none !important;
  }
}

.fixed__title.active {
  pointer-events: inherit;
  opacity: 1;
}

.fixed__title__inner__number {
  font-family: 'EB Garamond';
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-variant-numeric: oldstyle-nums;
  margin-right: 0.2rem;
}

.fixed__meta {
  position: fixed;
  bottom: 1rem;
  font-size: 1.2rem;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  text-align: left;
  width: auto;
  left: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #FFF;
}

@media (max-width: 768px) {
  .fixed__meta {
    font-size: 1.5rem;
  }
}

.radio__overlay {
  position: fixed;
  width: 33rem;
  overflow: hidden;
  height: 11rem;
  bottom: 10%;
  z-index: 100;
  background: #ff0100;
  right: 20%;
  cursor: -webkit-grab;
  cursor: grab;
  color: #fff;
  padding: 1rem;
  font-size: 3rem;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .radio__overlay {
    position: fixed;
    overflow: hidden;
    height: auto;
    bottom: 6rem;
    width: calc(100vw - 2rem);
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    z-index: 10;
    background: #ff0100;
    right: inherit;
    left: 0.5rem;
    cursor: -webkit-grab;
    cursor: grab;
    color: #fff;
    padding: 0.5rem;
    font-size: rem;
    border-radius: 1rem;
  }
}

.radio__overlay .marquee {
  padding: 0 0 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
}

.radio__overlay .marquee span {
  margin-right: 25px;
}

.radio__overlay__headline {
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 768px) {
  .radio__overlay__headline {
    font-size: 2rem;
    letter-spacing: 0.08rem;
  }
}

@media only screen and (max-width: 375px) {
  .radio__overlay__headline {
    font-size: 7vw;
  }
}

.radio__overlay__headline .live {
  opacity: 0;
  font-family: 'EB Garamond';
  -webkit-animation: 2s linear infinite blinker;
          animation: 2s linear infinite blinker;
}

@-webkit-keyframes blinker {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
}

.radio__overlay__headline__subline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'EB Garamond';
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1;
}

@media (max-width: 768px) {
  .radio__overlay__headline__subline {
    font-size: 5vw;
  }
}

.radio__overlay .play,
.radio__overlay .pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  mix-blend-mode: lighten;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 1.9rem;
  line-height: 1.9rem;
  padding: 1rem;
  font-family: 'EB GARAMOND';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .radio__overlay .play,
  .radio__overlay .pause {
    font-size: 1.7rem;
    line-height: 1.9rem;
    padding: 0.5rem;
  }
}

.radio__overlay .play svg,
.radio__overlay .pause svg {
  width: 30px;
  fill: #000;
  height: 30px;
  margin-right: 10px;
}

.radio__overlay .play.hide,
.radio__overlay .pause.hide {
  display: none !important;
}

.radio__overlay svg {
  width: 3rem;
}

.program-button {
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 4;
  font-size: 3rem;
  -webkit-font-variant-ligatures: discretionary-ligatures;
          font-variant-ligatures: discretionary-ligatures;
  text-align: center;
  width: auto;
  letter-spacing: 0.1rem;
  z-index: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: red;
  white-space: nowrap;
  cursor: -webkit-grab;
  cursor: grab;
}

.program-button span {
  font-family: 'EB Garamond';
}

.program-button br {
  display: none;
}

@media only screen and (max-width: 768px) {
  .program-button {
    width: calc(50vw - 2.25rem);
    left: 0.5rem;
    top: inherit;
    bottom: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.7rem;
    padding: 0.75rem 0.5rem;
  }
  .program-button br {
    display: block;
  }
}

.program-button a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.program-button.ui-draggable-dragging {
  cursor: move;
}

.program-button.ui-draggable-dragging a {
  cursor: move;
  pointer-events: none;
}

.program strong {
  font-family: 'KTF Rublena Solid';
  color: #8b5fa7;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.9rem;
  margin: 0 auto;
}

.program .day {
  margin-top: 5rem;
  display: block;
  font-family: 'EB Garamond', serif;
}

.day-first {
  margin-top: 0;
  font-family: 'EB Garamond', serif !important;
  display: block;
}

.program {
  font-size: 1.9rem;
  line-height: 1.9rem;
  margin: 5rem auto 0rem;
  color: #fff;
  display: block;
  font-family: 'EB Garamond';
  padding: 0 1rem 5rem;
  max-width: 940px;
}

@media only screen and (max-width: 768px) {
  .program {
    padding: 0 0.5rem 8rem;
    font-size: 1.7rem;
  }
}

.program__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .program__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.program__outer {
  position: relative;
}

.program p {
  font-size: 1.9rem;
  line-height: 1.9rem;
  color: #8b5fa7;
  font-family: 'EB Garamond';
  font-variant-numeric: oldstyle-nums;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .program p {
    font-size: 1.7rem;
  }
}

.program a {
  border-radius: 1rem;
  display: block;
  font-style: normal;
  text-decoration: none;
  background-color: #fff;
  margin: 1rem auto 2.5rem;
  color: #b68dcf !important;
  padding: 0.5rem 1rem;
  mix-blend-mode: lighten;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=main.css.map */